Repository IYair/ecommerce-monolith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd frontend && npm run lint:fix, cd backend && npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json,md,yml,yaml}": ["prettier --write"],
  "frontend/**/*.{js,jsx,ts,tsx}": ["cd frontend && npm run lint:fix"],
  "backend/**/*.{js,ts}": ["cd backend && npm run lint:fix"]
}

feat: add CI/CD workflows and testing setup
  .dockerignore
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  CI_CD.md
  CLAUDE.md
  CONTRIBUTING.md
  TESTING.md
  frontend/e2e/homepage.spec.ts
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/next-env.d.ts
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/components/__tests__/Header.test.tsx
  frontend/src/lib/api.ts
  frontend/tsconfig.json
Due: prettier --write, cd frontend && npm run lint:fix

feat: update Prettier and ESLint configurations, improve import ordering, and component imports
  .prettierrc.json
  backend/src/admin/vite.config.example.ts
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Header.tsx
  frontend/src/components/ThemeProvider.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/drawer.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/lib/providers.tsx
Due: prettier --write, cd frontend && npm run lint:fix, cd backend && npm run lint:fix

feat: add Stripe integration and update ESLint configuration; improve type handling in controllers
  backend/eslint.config.mjs
  backend/package-lock.json
  backend/package.json
  backend/src/api/category/controllers/category.ts
  backend/src/api/order/controllers/order.ts
  backend/src/api/product/controllers/product.ts
  frontend/next-env.d.ts
Due: prettier --write, cd frontend && npm run lint:fix, cd backend && npm run lint:fix

feat: update CI configuration to use Node.js 20.x and enhance environment variable handling builds
  .github/workflows/ci.yml
Due: prettier --write

feat: update Dockerfile to use Node.js 20.x and search product in the product controller
  Dockerfile
  backend/src/api/product/controllers/product.ts
Due: prettier --write, cd backend && npm run lint:fix

fix: move HUSKY=0 env var before RUN commands in Dockerfile
  Dockerfile
Due: none

fix: use official Husky solution for Docker/CI
  .husky/install.mjs
  Dockerfile
  package.json
Due: prettier --write

fix: install all dependencies in build stages, set NODE_ENV after npm ci
  Dockerfile
Due: none

fix: correct syntax for echo command in deploy workflow
  .github/workflows/deploy.yml
Due: prettier --write

feat: agregar guía de protección de ramas y configuración de CI/CD en la documentación
  .github/BRANCH_PROTECTION.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  DEPLOYMENT.md
  README.md
Due: prettier --write

feat: agregar guía de despliegue y script de inicio para producción
  DOKPLOY_SETUP.md
  Dockerfile
  docker-compose.yml
  start-production.js
Due: prettier --write

Update start-production.js
  start-production.js
Due: prettier --write

Update DOKPLOY_SETUP.md
  DOKPLOY_SETUP.md
Due: prettier --write

fix: hacer esperas de inicio configurables para Strapi y Next.js
  start-production.js
Due: prettier --write

fix: hacer esperas de inicio configurables para Next.js y Strapi
  start-production.js
Due: prettier --write

refactor(deployment): address all Copilot code review feedback
  DOKPLOY_SETUP.md
  Dockerfile
  start-production.js
Due: prettier --write

Add deployment guide and production start script (#1)
  DOKPLOY_SETUP.md
  Dockerfile
  docker-compose.yml
  start-production.js
Due: prettier --write

fix(deployment): execute Strapi and Next.js from their own directories
  start-production.js
Due: prettier --write

fix(deployment): correct Strapi/Next.js execution directories for Dokploy (#2)
  start-production.js
Due: prettier --write

fix(backend): add pg driver for PostgreSQL production deployments
  backend/package-lock.json
  backend/package.json
Due: prettier --write

fix(backend): add pg driver for PostgreSQL production deployments (#3)
  backend/package-lock.json
  backend/package.json
Due: prettier --write

fix(frontend): move TypeScript to production dependencies
  frontend/package.json
  scripts/generate-secrets.js
Due: prettier --write

fix(frontend): move TypeScript to production dependencies (#4)
  frontend/package.json
  scripts/generate-secrets.js
Due: prettier --write

fix(docker): install all dependencies for runtime tooling
  Dockerfile
  scripts/generate-secrets.js
Due: prettier --write

fix(docker): install all dependencies for runtime tooling
  Dockerfile
  frontend/package.json
Due: prettier --write

fix(docker): install all dependencies for runtime tooling (#5)
  Dockerfile
  frontend/package.json
Due: prettier --write

chore(docker): force rebuild to invalidate cache
  Dockerfile
Due: none

chore(docker): force rebuild to invalidate cache (#6)
  Dockerfile
Due: none

feat(docker): add production docker-compose using pre-built images
  docker-compose.production.yml
Due: prettier --write

fix(docker): use pre-built images instead of local build
  docker-compose.yml
Due: prettier --write

feat(docker): add production docker-compose using pre-built images (#7)
  docker-compose.production.yml
Due: prettier --write

fix(docker): use pre-built images instead of local build (#8)
  docker-compose.yml
Due: prettier --write

feat: agregar TypeScript a las dependencias de producción y optimizar Dockerfile
  CI_CD_SETUP.md
  Dockerfile
  frontend/package.json
Due: prettier --write

feat: agregar TypeScript a las dependencias de producción y optimizar Dockerfile (#9)
  CI_CD_SETUP.md
  Dockerfile
  frontend/package.json
Due: prettier --write

fix: corregir problemas de configuración y aumentar memoria en Dockerfile
  CI_CD_SETUP.md
  Dockerfile
Due: prettier --write

Add TypeScript dependency and optimize Dockerfile (#10)
  Dockerfile
Due: none

fix: copy compiled Strapi config and create required temp directories
  Dockerfile
Due: none

Add TypeScript to production dependencies and optimize Dockerfile (#11)
  Dockerfile
Due: none

fix: copy Strapi admin panel build directory
  Dockerfile
Due: none
